html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #d49f1c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.mainflexcontainer {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  font-family: Andale Mono;
}

h2 {
  text-align: center;
}

label,
select,
option {
  font-family: Andale Mono, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #2e2f30;
}

.translationSection,
.translated {
  font-family: Andale Mono, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #2e2f30;
}

#description1 {
  text-align: center;
}

#description2 {
  text-align: center;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.hero {
  position: relative;
}

.hero-overlay {
  text-align: center;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  h2 {
    font-size: 20vw;
    color: #ffffffs;
    letter-spacing: 0.45rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-image {
  display: block;
  //overflow: visible;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

p {
  letter-spacing: 0.05rem;
  line-height: 1.5;
  &:last-of-type {
    padding-top: 0;
  }
}

div,
p {
  font-family: Andale Mono;
  color: #030303;
  text-rendering: optimizeLegibility;
}
