html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #d49f1c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.mainflexcontainer {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  font-family: Andale Mono;
}

h2 {
  text-align: center;
}

label,
select,
option {
  font-family: Andale Mono, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #2e2f30;
}

.translationSection,
.translated {
  font-family: Andale Mono, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #2e2f30;
}

#description {
  text-align: center;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../public/tatooinesuns.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(90%);
}

.hero-content {
  position: relative;
  font-family: "Andale Mono", sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}

.hero-title {
  font-size: 30px;
  font-weight: auto;
  margin-bottom: 0;
}
